@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --opoen-sans: "Open sans", sans-serif;
    --nanito-sans: "Nunito Sans", sans-serif;

    --accent-light: rgba(251, 183, 49, 1.00);
    --accent-dark: rgba(243, 115, 53, 1.00);
    --dark: rgba(68, 55, 55, 1.00);
    --light: rgba(255, 255, 255);
    --light-rgb: 255, 255, 255;
}

body {
    font-family: var(--opoen-sans);
    /* font-family: "Nunito Sans", sans-serif;  */
}

a {
    text-decoration: none;
}

/*Head er*/
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 196px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
}

.nav-link {
    color: var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
}

.cart::before {
    content: "";
    background-image: url(../img/shopping-cart.svg);
    display: block;
    width: 30px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: var(--accent-dark);
    color: white;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0;
}

/*Hero*/
.hero {
    padding-top: 142px;
    padding-bottom: 142px;

    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -11px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb) .5);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    color: var(--light);
    font-family: var(--nanito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    line-height: 160%;
    font-family: var(--opoen-sans);

}

/*Banner*/
.banner {
    margin-top: 140px;
}

.banner-wrapper {
    padding: 100px;

    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title span {
    display: block;
    padding: 5px 0;
    margin-bottom: 4px;
    max-width: 95px;

    background-color: rgba(243, 115, 53, 1);
    border-radius: 14px;

    font-family: var(--opoen-sans);
    font-weight: 600;
    color: var(--light);
    font-size: 14px;
    text-align: center;
    line-height: 120%;
    text-transform: uppercase;
}

.banner-title {
    margin-bottom: 11px;
    margin-top: 0;

    font-family: var(--nanito-sans);
    color: var(--light);
    font-weight: 900;
    font-size: 60px;
    line-height: 126%;
    text-transform: uppercase;
}

.banner-description {
    max-width: 328px;
    margin-top: 0;
    margin-bottom: 13px;

    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: rgba(var(--light-rgb), .8);

}

.banner-btn {
    padding: 22px 25px;

    border-radius: 5px;
    background-color: var(--accent-light);
    border: none;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-btn:hover {
    background-color: var(--accent-dark);
}

/*menu*/
.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px 20px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-title {
    margin-top: 0;
    margin-bottom: 0;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 44px;
    line-height: 93%;
    text-transform: uppercase;
}

.menu-select {
    width: 279px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid rgba(222, 222, 222, 1);
    padding-left: 30px;
    padding-right: 18px;
    font-family: var(--opoen-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--dark);
}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}

.menu-thumb img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    color: var(--dark);
}

.menu-name {
    margin-top: 27px;
    margin-bottom: 5px;

    text-align: center;
    font-family: var(--nanito-sans);
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: var(--dark);
}

.menu-pricer {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgba(68, 55, 55, 0.5);
}

.menu-btn {
    width: 152px;
    padding: 10px 30px 10px 52px;
    background-color: var(--accent-light);
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    padding: 10px;
    display: block;

}

.btn-car {
    margin: 0;    
}

.btn-car::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url(../img/cart.svg);   
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

/*plus*/

.plus{
    margin-top: 100px;
    margin-bottom: 34px;
}