@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --opoen-sans: "Open sans", sans-serif;
    --nanito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #FFFFFF;
    --light-rgb: 255, 255, 255;
    --line: #dedede;
    --tr: 0.2s;
}

body {
    font-family: var(--opoen-sans);
    /* font-family: "Nunito Sans", sans-serif;  */
}

a {
    text-decoration: none;
}

/*Header*/
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid var(--line);
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.burger-menu {
    display: none;
    width: 34px;
    height: 22px;
    background-image: url(../img/menu-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
    margin-left: min(10vw, 140px);
}

.nav-link {
    color: var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
}

.cart::before {
    content: "";
    background-image: url(../img/shopping-cart.svg);
    display: block;
    width: 30px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: var(--accent-dark);
    color: white;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0;
}

.button-up {
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;

    border-radius: 5px;
    background-color: var(--accent-light);
    border: none;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--tr);
}

.button-up:hover {
    background-color: var(--accent-dark);
}

.button-up.hidden {
    opacity: 0;
}

.button-up.visible {
    opacity: 1;
}

/*Hero*/
.hero {
    padding-top: 142px;
    padding-bottom: 142px;

    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.hero-contact {
    background-image: url(../img/hero-contact.jpg);
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), 0.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -11px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb) .5);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    color: var(--light);
    font-family: var(--nanito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    line-height: 160%;
    font-family: var(--opoen-sans);

}

/*Banner*/
.banner {
    margin-top: 140px;
}

.banner-wrapper {
    padding: 100px;

    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title span {
    display: block;
    padding: 5px 0;
    margin-bottom: 4px;
    max-width: 95px;

    background-color: rgba(243, 115, 53, 1);
    border-radius: 14px;

    font-family: var(--opoen-sans);
    font-weight: 600;
    color: var(--light);
    font-size: 14px;
    text-align: center;
    line-height: 120%;
    text-transform: uppercase;
}

.banner-title {
    margin-bottom: 11px;
    margin-top: 0;

    font-family: var(--nanito-sans);
    color: var(--light);
    font-weight: 900;
    font-size: 60px;
    line-height: 126%;
    text-transform: uppercase;
}

.banner-description {
    max-width: 328px;
    margin-top: 0;
    margin-bottom: 13px;

    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: rgba(var(--light-rgb), .8);
}

.banner-btn {
    display: block;
    max-width: 170px;
    padding: 22px 0px;

    border-radius: 5px;
    background-color: var(--accent-light);
    border: none;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--tr);
}

.banner-btn:hover {
    background-color: var(--accent-dark);
}

/*menu*/

.menu {
    margin-bottom: 140px;
}

.menu-header {
    margin-top: 100px;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.menu-title {
    margin: 0;
    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    color: var(--dark);
    text-transform: uppercase;
}

.menu-select {
    padding: 13px 30px;

    appearance: none;
    flex-basis: 279px;
    background-image: url(../img/chevron-down.svg);
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 89% center;

    border-radius: 22px;
    border: 1px solid var(--line);

    font-size: 15px;
    color: var(--dark);
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;

}

.menu-item {
    font-family: var(--nanito-sans);
    text-align: center;
}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.menu-thumb img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    color: var(--dark);
}

.menu-name {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 30px;
    line-height: 126%;
    color: var(--dark);
}

.menu-pricer {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: rgba(68, 55, 55, 0.5);
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    font-size: 14px;
    font-family: var(--nanito-sans);
    font-weight: 700;
    padding: 11px 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1e2f40;
    background-color: var(--accent-light);
    border: none;
    border-radius: 5px;
    transition: var(--tr);
}

.menu-btn::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url(../img/cart.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-btn:hover {
    background-color: var(--accent-dark);
}

.menu-title-additionally {
    margin: 100px 0 34px;
    font-family: var(--nanito-sans);
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    color: var(--dark);
    text-transform: uppercase;
}

/*footer*/

.footer {
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;
    background-color: rgba(30, 47, 64, 1);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px
}

.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../img/logo-light-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-title {
    margin-top: 0;
    margin-bottom: 13px;

    font-family: var(--nanito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    color: var(--light);
    text-transform: uppercase;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    line-height: 160%;
    transition: var(--tr);
}

.footer-link:hover {
    color: var(--accent-light);
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-list-item {
    color: var(--light);
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
}

.footer-list-item span {
    display: block;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}

.footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer-item:last-child {
    flex-basis: 194px;
}

.footer-tel {
    display: block;
    font-family: var(--nanito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 126%;
    color: var(--accent-light);
    text-transform: uppercase;
    margin-top: 12px;
    transition: var(--tr);
    text-align: right;
}

.footer-tel._mobile {
    display: none;
    font-family: var(--nanito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 126%;
    color: var(--accent-light);
    text-transform: uppercase;
    margin-top: 12px;
    transition: var(--tr);
}

.footer-tel:hover {
    color: var(--light);
}

/*contacts*/
.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress>li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress>li>span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress>li>span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress>li>span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally>li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally>li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally>li:nth-child(1):before {
    background-image: url(../img/contact/01.svg);
}

.contact-additionally>li:nth-child(2):before {
    background-image: url(../img/contact/02.svg);
}

.contact-additionally>li:nth-child(3):before {
    background-image: url(../img/contact/03.svg);
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}

/*Media*/
@media (max-width: 1080px) {
    .header-wrapper {
        gap: 40px;
    }

    .nav {
        margin-left: 0;
        gap: min(3vw, 30px);
    }
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
        height: 47.81px;
    }

    .header-wrapper {
        gap: 45px;
    }

    .nav {
        gap: 19px;
    }

    .banner {
        margin-top: 72px;
    }

    .banner-wrapper {
        padding: 100px 40px;
    }

    .menu-header {
        margin-top: 80px;
    }

    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-box._additionally {
        grid-template-columns: 1fr;

    }

    .menu-item._additionally {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu-item._additionally .menu-thumb {
        flex-basis: calc(60% - 20px);
        height: 260px;
        margin-bottom: 0;
    }

    .menu-item._additionally .menu-info {
        flex-basis: 40%;
    }

    .footer {
        padding-top: 62px;
        padding-bottom: 71px;
    }

    .footer-nav {
        margin-bottom: 20px;
    }

    .footer-item:last-child {
        display: none;
    }

    .footer-tel._mobile {
        display: block;
        text-align: left;
    }
}

@media (max-width: 730px) {
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .nav {
        display: none;
    }

    .nav._modal {
        display: flex;
        flex-direction: column;
    }

    .nav-link::after {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .logo {
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }

    .modal {
        top: -400px;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        background-color: rgba(255, 248, 220, 1);
        padding: 40px 15px;
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);

    }

    .modal-close {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../img/close1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hero {
        padding-top: 55px;
        padding-bottom: 55px;
    }


    .breadcrumbs {
        font-size: 14px;
    }

    .hero-title {
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 13px;
    }

    .hero-description {
        font-size: 12px;
    }

    .banner-wrapper {
        padding: 35px 17px;
    }

    .banner {
        margin-top: 33px;
    }

    .banner-btn {
        max-width: 198px;
    }

    .menu-header {
        margin-top: 58px;
        margin-bottom: 30px;
    }

    .menu-title {
        font-size: 27px;
    }

    .menu-select {
        font-size: 17px;
        flex-basis: 136px;
        width: 136px;
        background-position: 93% center;
        padding: 13px 15px;
    }

    .menu-box {
        gap: 24px 20px;
    }

    .menu-thumb {
        margin-bottom: 10px;
        height: 50vw;
    }

    .menu-item._additionally .menu-thumb {
        height: 30vw;
    }

    .menu-name {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .menu-pricer {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .menu-btn {
        padding: 11px 22px;
    }
    .footer {
        margin-top: 80px;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 35px;
        position: relative;
    }

    .footer-logo {
        margin-bottom: 9px;
    }

    .footer-tel._mobile {
        position: absolute;
        top: -13px;
        right: 0;
    }
    .footer-tel._mobile + .footer-tel._mobile {
        top: 24px;        
    }
    .footer-title {
        font-size: 18px;
    }
    .footer-nav {
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    .menu-item._additionally .menu-thumb {
        flex-basis: calc(100%-130%-20px);
        height: 38vw;
    }

    .menu-item._additionally .menu-info {
        flex-basis: 130px;
    }

}